{{!-- When "save article" is triggered --}}
<div class="row">
  <div class="col s12">
    {{!-- <h2 class="header">Horizontal Card</h2> --}}
    <div class="card horizontal saved" data-state="saved" data-id="{{_id}}">
      <div class="card-image">
        <img src="{{image}}">
      </div>
      <div class="card-stacked center-align">
        <div class="card-content">
          <h5>{{title}}</h5>
          <p>{{summary}}</p>
        </div>
        <div class="card-action">
          <a href="{{link}}" class="left" target="_blank">View Article</a>
          <a class="waves-effect waves-light btn indigo lighten-3 right article-notes">
            <i class="material-icons right">bookmark</i>Notes</a>
          <a class="waves-effect waves-red btn red lighten-3 right unsave-article">
            <i class="material-icons right">delete</i>Delete</a>
        </div>
      </div>
    </div>
  </div>
</div>